.sheet-manager {
	@extend %one-quarter;

	.sheet-manager--key-id {
		font-size: .6rem;
		font-style: italic;
	}

	.sheet-manager--remove-button {
		color: red;
		font-size: .6rem;
		text-decoration: underline;
		font-style: italic;
		border: 0;
		background-color: transparent;
		cursor: pointer;
	}

	.sheet-manager--key-entry {
		margin: 10px 0;

		&:first-child {
			margin-top: 0;
		}
	}
}

.instructions {
	h1 {
		margin: 20px 0;
	}

	p {
		margin: 10px 0;
	}
}

.table-list {
	@extend %one-quarter;

	.table-list--entry {
		margin: 10px 0;

		&:first-child {
			margin-top: 0;
		}
	}
}

.result-list {
	@extend %one-half;
}
