<div class="sheet-manager">
	<ul class="sheet-manager--key-list">
		<li class="sheet-manager--key-entry" ng-repeat="key in sheets.keys track by $index">
			<button
				class="sheet-manager--load-button"
				ng-click="sheets.load($index)"
				ng-disabled="sheets.loadedIndex == $index"
			>Load</button>
			<span class="sheet-manager--key-name">{{ key.name }}</span>
			<a class="sheet-manager--share-link" ng-href="{{ shareLink(key) }}" ng-if="$index != 0">sharable link</a>

			<br/>

			<a class="sheet-manager--key-id" ng-href="https://docs.google.com/spreadsheets/d/{{ key.id }}/pubhtml">{{ key.id }}</a>
			<button class="sheet-manager--remove-button" ng-click="sheets.remove($index)" ng-if="$index != 0">Remove</button>
		</li>
		<li class="sheet-manager--key-entry">
			<button
				class="sheet-manager--add-button"
				ng-click="sheets.add(addName, addId) &amp;&amp; (addName = addId = '')"
			>Add</button>
			<input ng-model="addName" placeholder="Name"/>
			<input ng-model="addId" placeholder="ID or URL"/>
		</li>
	</ul>

	<instructions></instructions>
</div>
