%column {
	padding: 20px;
	// position: fixed;
	// top: 0;
	// bottom: 0;
	// overflow: auto;
}

.sheet-manager {
	@extend %column;
	left: 0;
	width: 25%;

	.sheet-manager--key-id {
		font-size: .6rem;
		font-family: monospace;
	}

	.sheet-manager--load-button {
		margin: 10px;
	}

	.sheet-manager--add-button {
		background-color: #1b4;
		margin-top: 5px;
	}

	.sheet-manager--remove-button {
		color: red;
		font-size: .6rem;
		text-decoration: underline;
		font-style: italic;
		border: 0;
		background-color: transparent;
		cursor: pointer;
	}

	.sheet-manager--key-entry {
		margin: 10px 0;

		&:first-child {
			margin-top: 0;
		}
	}

	.sheet-manager--input {
		margin-top: 5px;
		width: 100%;
	}
}

.instructions {
	display: none;
	h1 {
		margin: 20px 0;
	}

	p {
		margin: 10px 0;
	}
}

.bottom-padding {
	height: 1000px;
}

@media screen and (min-width: 48em) {
	.instructions {
		display: block;
	}

	.bottom-padding {
		display: none;
	}
}

.table-list {
	margin-bottom: 10px;
}

.result-list {
	@extend %column;
	$size: 75%;
	left: 100% - $size;
	width: $size;

	.result-list--result {
		&:not(:first-child) {
			margin-top: 10px;
		}

		&:not(:last-child) {
			border-bottom: 1px solid #999;
		}

		padding-bottom: 10px;
	}
}
