* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: arial; }

html {
  height: 100%; }

body {
  min-height: 100%; }

.sheet-manager, .result-list {
  padding: 20px; }

.sheet-manager {
  left: 0;
  width: 25%; }
  .sheet-manager .sheet-manager--key-id {
    font-size: .6rem;
    font-family: monospace; }
  .sheet-manager .sheet-manager--load-button {
    margin: 10px; }
  .sheet-manager .sheet-manager--add-button {
    background-color: #1b4;
    margin-top: 5px; }
  .sheet-manager .sheet-manager--remove-button {
    color: red;
    font-size: .6rem;
    text-decoration: underline;
    font-style: italic;
    border: 0;
    background-color: transparent;
    cursor: pointer; }
  .sheet-manager .sheet-manager--key-entry {
    margin: 10px 0; }
    .sheet-manager .sheet-manager--key-entry:first-child {
      margin-top: 0; }
  .sheet-manager .sheet-manager--input {
    margin-top: 5px;
    width: 100%; }

.instructions {
  display: none; }
  .instructions h1 {
    margin: 20px 0; }
  .instructions p {
    margin: 10px 0; }

.bottom-padding {
  height: 1000px; }

@media screen and (min-width: 48em) {
  .instructions {
    display: block; }

  .bottom-padding {
    display: none; } }
.table-list {
  margin-bottom: 10px; }
  .table-list .table-list--table-select {
    max-width: calc(100% - 70px); }

.result-list {
  left: 25%;
  width: 75%; }
  .result-list .result-list--result {
    padding-bottom: 10px; }
    .result-list .result-list--result:not(:first-child) {
      margin-top: 10px; }
    .result-list .result-list--result:not(:last-child) {
      border-bottom: 1px solid #999; }
