* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: arial; }

.sheet-manager, .table-list, .result-list {
  overflow: auto;
  float: left;
  padding: 20px; }

.sheet-manager, .table-list {
  width: 25%; }

.result-list {
  width: 50%; }

.sheet-manager .sheet-manager--key-id {
  font-size: .6rem;
  font-style: italic; }
.sheet-manager .sheet-manager--remove-button {
  color: red;
  font-size: .6rem;
  text-decoration: underline;
  font-style: italic;
  border: 0;
  background-color: transparent;
  cursor: pointer; }
.sheet-manager .sheet-manager--key-entry {
  margin: 10px 0; }
  .sheet-manager .sheet-manager--key-entry:first-child {
    margin-top: 0; }

.instructions h1 {
  margin: 20px 0; }
.instructions p {
  margin: 10px 0; }

.table-list .table-list--entry {
  margin: 10px 0; }
  .table-list .table-list--entry:first-child {
    margin-top: 0; }
